   body {
            margin: 0;
            background-color: rgb(24, 24, 24);
            font-family: Arial, Helvetica, sans-serif;
            color: #fff;
        }

        #input_wrap {
            display: flex;
            flex-direction: column;
            width: 250px;
            gap: 10px;
            margin: auto;
            margin-top: 200px;
        }

        #input_wrap>input {
            padding: 8px;
        }

        #input_wrap>button {
            padding: 8px;
            margin-top: 20px;
        }