body {
  background-color: darkslategrey;
  font-family: 'Allura', cursive;
  font-size: 20px;
}

#city {
  margin-left: 100px;
  padding: 8px;
  background-color: inherit;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  color: lightgrey;
  font-style: italic;
  font-size: 15px;
}

#city::placeholder {
  font-size: 20px;
  color: cyan;
  font-weight: 400;
  font-family: "Meow Script", cursive;
}

#city:hover {
  border-bottom: 1px solid cyan;
}

#weather_btn,
#map_btn {
  padding: 3px;
  background-color: inherit;
  border: 1px solid lightseagreen;
  color: lightgrey;
  border-radius: 10px;
  font-size: 22px;
  font-family: "Meow Script", cursive;
  width: 100px;
}

#weather_btn:hover {
  color: cyan;
}

#map_btn:hover {
  color: cyan;
}

#wrapper {
  background-image: url("images/bgimage.jpg");
  width: 85%;
  height: 500px;
  margin-top: 1%;
  margin-left: 7%;
  color: black;
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  position: absolute;
}

#current_day {
  color: black;
  position: absolute;
  margin-left: 40%;
  margin-top: 60px;
  font-size: 60px;
  font-family: "Meow Script", cursive;
}

#time {
  position: absolute;
  margin-left: 45%;
  font-size: 38px;
  margin-top: 145px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

#am_pm {
  font-size: 25px;
}

#wrap1 {
  background-color: #333333;
  width: 15%;
  height: 45%;
  text-align: center;
  margin-top: 3%;
  margin-left: 2%;
  border-radius: 10px;
  opacity: 0.8;
  color: #fff;
}

#wrap2 {
  background-color: #333333;
  width: 15%;
  height: 50%;
  text-align: center;
  margin-top: 1%;
  margin-right: 10px;
  border-radius: 10px;
  opacity: 0.8;
  color: #fff;
}

#wrap1 > img {
  height: 50px;
  margin-top: 20px;
}

#wrap1 > :nth-child(2) {
  margin-top: -15px;
  font-size: 30px;
  font-style: italic;
}

#wrap1 > :nth-child(3) {
  width: 130px;
  margin: auto;
  padding: 0px;
  font-weight: 900;
  font-size: 30px;
  margin-top: 30px;
}

#humid_wrap {
  display: grid;
  grid-template-columns: 50px 50px;
  margin-top: 15px;
}

#pressure_wrap {
  display: grid;
  grid-template-columns: 50px 100px;
  margin-top: 10px;
}

#wind_wrap {
  display: grid;
  grid-template-columns: 50px 80px;
  margin-top: 10px;

}

#humid_wrap > :nth-child(3) {
  margin-left: 31px;
  width: 80px;
  font-size: 18px;
  font-weight: 800;
}

#humid_wrap > :nth-child(2) {
  margin-top: 5px;
  font-style: italic;
}

#humid_wrap > img {
  width: 50px;
}

#pressure_wrap > img {
  margin-top: 7px;
  width: 28px;
  margin-left: 10px;
}

#pressure_wrap > :nth-child(2) {
  margin-top: 5px;
  font-style: italic;
  text-align: start;
}

#pressure_wrap > :nth-child(3) {
  margin-left: 40px;
  margin-top: -8px;
  width: 80px;
  font-size: 16px;
  font-weight: 800;
}

#wind_wrap > img {
  width: 38px;
  margin-top: 5px;
  margin-left: 8px;
}

#wind_wrap > :nth-child(2) {
  margin-top: 8px;
  font-style: italic;
  height: 20px;
  text-align: start;
  width: 120px;
}

#wind_wrap > :nth-child(3) {
  margin-left: 50px;
  margin-top: -12px;
  width: 60px;
  font-size: 16px;
  font-weight: 800;
}

#daily_wrap {
  width: 1000px;
  height: 190px;
  margin-top: 300px;
  margin-left: 180px;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

#daily_data {
  border: 1px solid black;
  width: 125px;
  height: 180px;
  border-radius: 5px;
  background-color: #333333;
  opacity: 0.8;
  color: #fff;
}

#day {
  font-style: italic;
  text-align: center;
  margin-top: 10px;
}

#day + img {
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

#daily_temp_morn {
  display: flex;
  width: 100px;
  padding-left: 20px;
}

#daily_temp_morn > :nth-child(1) {
  width: 35px;
}

#daily_temp_morn > :nth-child(2) {
  margin: auto;
  margin-left: 18px;
}

#daily_temp_night {
  display: flex;
  width: 100px;
  padding-left: 20px;
}

#daily_temp_night > :nth-child(1) {
  width: 68px;
  margin-left: -21px;
  height: 45px;
}

#daily_temp_night > :nth-child(2) {
  margin: auto;
}
